.contact_us_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 4rem; */
  margin-bottom: 8rem;
  margin-top: 8rem;
}
.primary_heading {
  color: white;
  font-size: 4.5rem;
}

.secondary_heading {
  color: white;
  font-size: 1.1rem;
  opacity: 0.8;
}
.contact_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
  margin-top: 2rem;
  border: 1px solid white;
  /* height: 40rem;
  width: 50rem; */
  padding: 3rem;
  border-radius: 30px;
  background-color: rgb(18, 17, 17);
}
.contact_form_container h1{
  color: white;
  font-size: 2.5rem;
}
.contact_form_container p{
  color: white;
  opacity: 0.8;
}