.left-section {
  background-color: #379df1;
  height: 59rem;
  width: 20%;
  margin: 0.81rem;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}

.edu-container {
  height: 60rem;
  width: 98%;
  background-color: white;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  /* justify-content: end; */
  border: 1px solid white;
  border-radius: 10px;
  margin-inline: 1rem;
}
.right-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* background-color: white; */
  align-self: end;
  align-items: center;
  height: 100%;
  width: 80%;
  z-index: 1;
  padding: 0;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin-bottom: 1.5rem;
}
.heading p:nth-of-type(1) {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #379df1;
}

.heading p:nth-of-type(2) {
  font-size: 1.7rem;
  /* color: #2845D6; */
  font-weight: 600;
  /* color: rgb(31, 30, 30); */
  opacity: 0.8;
}
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.51rem;
  margin-top: 1rem;
}
.main-container > p:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.199);
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding-block: 0.5rem;
  color: rgb(31, 30, 30);
  opacity: 0.8;
}
.experience-info {
  display: flex;
  align-items: start;
  margin-top: 2rem;
  width: 90%;
}

.experience-item {
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin: 0.5rem 0;
  gap: 1rem;
}
.item-left img {
  margin-top: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.item-right p:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: rgb(31, 30, 30); */
  opacity: 0.8;
}

.item-right p:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 500;
  /* color: rgb(31, 30, 30); */
  opacity: 0.8;
}
.item-right p:nth-of-type(3) {
  font-size: 1.1rem;
  font-weight: 500;
  /* color: rgb(31, 30, 30); */
  opacity: 0.8;
}
.edu-item-right {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  justify-content: space-between;
  /* margin-right: 2rem; */
  /* flex-direction: column; */
  /* gap:0.2rem; */
}

.edu-item-left img {
  margin-top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.edu-right-item div p:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: rgb(31, 30, 30); */
  opacity: 0.8;
}

/* .edu-container{
     width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.51rem;

} */

.edu-item {
  display: flex;
  /* align-items: center; */
  width: 100%;
  margin: 2rem 0;
  gap: 1rem;
}
.edu-info {
  width: 90%;
}
#degree-info {
  font-size: 1.24rem;
  font-weight: 600;
  opacity: 0.8;
}

.edu-institite-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-inline: 2rem; */
  width: 31%;
}
.edu-institite-info > p:nth-of-type(1) {
  font-size: 1.1rem;
  color: rgb(31, 30, 30);
  font-weight: 500;
  opacity: 0.1;
}
