.edu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-bottom: 8rem;
  margin-top: 8rem;
}
.edu_list {
  /* border: 1px solid white; */
  box-shadow:
    0 4px 6px -6px #fff,
    0 4px 8px -6px #fff,
    0 4px 8px -6px #fff,
    0 4px 8px -6px #fff;
  border-radius: 20px;
  padding-inline: 2rem;
  cursor: pointer;

  height: 8rem;
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edu_heading {
  color: white;
  font-size: 4.5rem;
}
.edu_detail > p {
  color: white;
}
.edu_institute {
  color: white;
}

.edu_date > p {
  color: black;
}
.edu_detail > p:nth-child(1) {
  font-size: 1.7rem;
}
.location_bg {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5rem;

  padding: 0.15rem;
}
.edu_institute_container {
  display: flex;
  align-items: center;
  opacity: 0.7;
}
/* .edu_container img{
  height: 1.22rem;
  width: 1.2rem;
} */

.edu_detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edu_date {
  background-color: #fff;
  padding: 0.6rem;
  padding-inline: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.51rem;
  opacity: 0.8;
}
.calender_icon {
  height: 1rem;
  width: 1rem;
}
